/* Portfolio Project CSS */

body {
    background-color: #eeeeee;
  }

div.header {
  text-align:center;
  font-family: 'Cinzel', serif;
  color: #528162ff;
  font-size: 36px;
  letter-spacing: 7px;
  font-weight: 600;
}

img.empennage-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.panel {
  border: 5px solid #4d220dff;
  background-color: #fff1dcff;
  font-family: 'Lora', serif;
  margin: 20px;
  padding: 15px 20px 15px 20px;
}

div.panel#totals-block {
  font-size: 22px;
  font-weight: 700;
}

#total-label {
  color: #555520ff;
}

#total-value {
  color: #b3290cff;
}

#totals-block {
  text-align:center;
}

span.pallet-count {
  float: left;
}

span.gross-area {
  float: right;
}

div.storage-area-name {
  color: #806a56ff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

div.form-title {
  color: #3f4930ff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.master {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1.2px;
  border-radius: 12px;
  color: #1e1e1eff;
  background-color: #b0b17aff;
  border: none;
  padding: 5px 8px;
}

button.master#delete-area {
  float: right;
}

button.master:hover#create-pallet {
  background-color: #4CAF50; /* Green */
  color: white;
}

button.master:hover#delete-area {
  background-color: tomato; /* Green */
  color: white;
}

form.new-pallet-form {
  background-color: #d9cca4ff;
  border: 2.5px solid #1a2b01ff;
  border-radius: 12px;
  margin-top: 30px;
  max-width: 450px;
  padding: 00px 20px 20px 20px;
  color: #384327ff;
}

label.new-pallet-fields {
  font-size: 25px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 18px;
}


div.radio-buttons {
  /* display: flex; */
  /* justify-content: space-between; */
  font-size: 20px;
  font-weight: 600;
}

input.new-pallet-input {
  width: 200px;
  height: 25px;
  border: 1.5px solid #64734dff;
  border-radius: 8px;
}

input.push {
  color: red;
  width: 1.8em;
  height: 1.8em;
}

td {
  padding: 6px 20px 6px 6px;
  font-size: 20px;
  font-weight: 600;
}

input[type="submit"] {
  font-family: 'Righteous', cursive;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1.2px;
    border-radius: 12px;
    color: #1e1e1eff;
    background-color: #6ea175ff;
    border: none;
    padding: 5px 8px;
}

input[type="submit"]:hover {
  background-color: #3f5c1fff; /* Green */
  color: white;
}



















  div.pallet {
    position: relative;
    display:inline-block;
    height: 210px;
    width: 210px;
    padding: 00px;
    border-radius: 40px;
    margin: 20px 20px 20px 20px;
  }

  h1.pallet-title {
    text-align:center;
  }

/*
  button.delete-pallet {
    background-color: tomato;
    position: absolute;
    bottom: 0;
    margin: 10px;
    font-size: 0.5em;
    border-radius: 12px;
  }
*/
  img.hazmat-icon {
    height: 60px;
    width: 60px;
    margin: 25px 10px 00px 00px;
    float: right;
  }

  ul.pallet-contents-displayed-in-pallet-box {
    color: darkslategrey;
    font-size: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    margin-bottom: -20px;
  }

/*
  button.create-storage-area {
    font-size: 1em;
    font-style: bold;
    font-style: italic;
    border-radius: 30px;
  }
  */
