/* Portfolio Project CSS */
FIGURE OUT HOW TO COLOR THE VALUES AND THE DESCRIPTION
SO THEY ARE DIFFERENT COLORS


body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font: "Arial""
  }

  div.header {
    background-color: #fff1dcff;
    padding: 3px 20px 3px 20px;
    font-family: Arial, sans-serif;
    font-style: bold;
    font-size: 28px;
    font-stretch: extra-expanded;
    color: #b2b285ff;
    text-align:center;
  }

  /* The left, right, & center positioning of this div are messy, so I want
     to isolate it from the rest of the panel div's
  */
  div.panel {
    border: 5px solid black;
    background-color: #fff1dcff;
    padding: 3px 20px 3px 20px;
    margin: 30px;
    font-family: "Calibri", Arial, sans-serif;
    font-style: italic;
  }

  #total-label {
    color: #555520ff;
  }

  #total-value {
    color: #b3290cff;
  }

  #totals-block {
    text-align:center;
  }
  span.pallet-count {
    float: left;
  }

  span.gross-weight {
    margin:0 auto;
    width:10px
  }

  span.gross-area {
    float: right;
  }

  button {
    font-size: 1.2em;
    font-style: bold;
    font-style: italic;
    color: black;
    background-color: #a0cd7bff;
    border-radius: 30px;
  }

  button.release {
    float: right;
    background-color: #E1332D;
  }

  form.new-pallet-form {
    background-color: #e9e9e9ff;
    border: 2.5px solid black;
    border-radius: 30px;
    margin: 30px;
    padding: 3px 20px 3px 20px;
    color: black;
  }

  input.input {
    font-size: 1.2em;
    border: 1.5px solid black;
    background-color: white;
  }

  div.radio-buttons {
  display: flex;
  justify-content: space-between;
  }

  input.push {
    width: 1.5em;
    height: 1.5em;
  }

  input.push:active {
    background-color: green;
  }
