/* Portfolio Project CSS */

body {
    background-color: #eeeeee;
  }

div.header {
  text-align:center;
  font-family: 'Cinzel', serif;
  color: #528162ff;
  font-size: 36px;
  letter-spacing: 7px;
  font-weight: 600;
}

img.empennage-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.panel {
  border: 5px solid #4d220dff;
  background-color: #fff1dcff;
  font-family: 'Lora', serif;
  margin: 20px;
  padding: 15px 20px 15px 20px;
}

div.panel#totals-block {
  font-size: 22px;
  font-weight: 700;
}

#total-label {
  color: #555520ff;
}

#total-value {
  color: #b3290cff;
}

#totals-block {
  text-align:center;
}

span.pallet-count {
  float: left;
}

span.gross-area {
  float: right;
}

div.storage-area-name {
  color: #806a56ff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

div.form-title {
  color: #3f4930ff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.master {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1.2px;
  border-radius: 12px;
  color: #1e1e1eff;
  background-color: #b0b17aff;
  border: none;
  padding: 5px 8px;
}

button.master#delete-area {
  float: right;
}

button.master:hover#create-pallet {
  background-color: #4CAF50; /* Green */
  color: white;
}

button.master:hover#delete-area {
  background-color: tomato; /* Green */
  color: white;
}

form.new-pallet-form {
  background-color: #d9cca4ff;
  border: 2.5px solid #1a2b01ff;
  border-radius: 12px;
  margin-top: 30px;
  max-width: 450px;
  padding: 00px 20px 20px 20px;
  color: #384327ff;
}

label.new-pallet-fields {
  font-size: 25px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 18px;
}


div.radio-buttons {
  /* display: flex; */
  /* justify-content: space-between; */
  font-size: 20px;
  font-weight: 600;
}

input.new-pallet-input {
  width: 200px;
  height: 25px;
  border: 1.5px solid #64734dff;
  border-radius: 8px;
}

input.push {
  color: red;
  width: 1.8em;
  height: 1.8em;
}

td {
  padding: 6px 20px 6px 6px;
  font-size: 20px;
  font-weight: 600;
}

input[type="submit"] {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1.2px;
  border-radius: 12px;
  color: #1e1e1eff;
  background-color: #6ea175ff;
  border: none;
  padding: 5px 8px;
}

input[type="submit"]:hover {
  background-color: #3f5c1fff; /* Green */
  color: white;
}

@media only screen and (min-width: 450px) {
  div.pallets {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
}

@media only screen and (min-width: 850px) {
  div.pallets {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
  }
}

@media only screen and (min-width: 1120px) {
  div.pallets {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
  }
}

div.pallet-box {
  background-image: url("./436L.svg");
  background-position: center;
  background-size: 280px 280px;
  height: 210px;
  width: 210px;
  border-radius: 40px;

  /* This is the "iffy" part where the grid begins
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"
  */
}

label.pallet-name {
  color:red;
}

div.red-timescale {
  border: 10px solid firebrick;
}

div.green-timescale {
  border: 10px solid forestgreen;
}

div.amber-timescale {
  border: 10px solid goldenrod;
}

div.lightweight {
  background-color: lightcyan;
}

div.middleweight {
  background-color: lightskyblue;
}

div.heavyweight {
  background-color: lightseagreen;
}

img.hazmat-icon {
  height: 60px;
  width: 60px;
}
