/* Portfolio Project CSS */

body {
    background-color: #eeeeeeff;
  }

div.header {
  text-align:center;
  font-family: 'Cinzel', serif;
  color: #528162ff;
  font-size: 36px;
  letter-spacing: 7px;
  font-weight: 600;
}




/* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */

img.post-it-note-image {
  display: block;
  width: 325px;
}

.textpanel {
    position: relative;
}
.textpanel img {
    display: block;
}
.textpanel textarea {
    position: absolute;
    top: 50px;
    left: 80px;
    height: 200px;
    width: 200px;
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
}

textarea:focus, input:focus{
    outline: 0;
}

/* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */








img.empennage-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.panel {
  border: 5px solid #4d220dff;
  background-color: #fff1dcff;
  font-family: 'Lora', serif;
  margin: 20px;
  padding: 15px 20px 15px 20px;
}

div.totals-block {
  font-size: 22px;
  font-weight: 700;
  text-align:center;
}

#total-label {
  color: #555520ff;
}

#total-value {
  color: #b3290cff;
}

span.pallet-count {
  float: left;
}

span.gross-area {
  float: right;
}

div.storage-area {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

span.storage-area-name {
  color: #806a56ff;
}

span.storage-area-name::after {
  opacity: 0;
  content: ".............";
}

span.storage-area-value {
  color: #993027ff;
}

span.storage-area-value::after {
  color: #806a56ff;
  content: " sq.ft. of area";
}

div.form-title {
  color: #3f4930ff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

button.master {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1.2px;
  border-radius: 12px;
  color: #1e1e1eff;
  background-color: #b0b17aff;
  border: none;
  padding: 5px 8px;
}

button.master#delete-area {
  float: right;
}

button.master:hover#create-post-it-note {
  background-color: #FFFD7C;
  color: #43420E;
}

button.master:hover#create-pallet {
  background-color: #4CAF50; /* Green */
  color: white;
}

button.master:hover#delete-area {
  background-color: tomato; /* Green */
  color: white;
}

input[type="text"] {
  background-color: #d4e5e1ff;
  color: #4d7269ff;
  font-family: 'Lora', serif;
  font-size:20px;
  font-weight: 600;
}

input[name="storage_area_id"] {
  visibility: hidden;
}

form.new-pallet-form {
  /*
  background-image: url("https://i.imgur.com/47zSFyH.png");
  background-position: center;
  background-size: 700px;
  */
  background-color: #d9cca4ff;
  border: 2.5px solid #1a2b01ff;
  border-radius: 12px;
  margin-top: 30px;
  max-width: 450px;
  padding: 00px 20px 20px 20px;
  color: #384327ff;
}

label.new-pallet-fields {
  font-size: 25px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 18px;
}


div.radio-buttons {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 60px;
}

input.new-pallet-input {
  width: 200px;
  height: 25px;
  border: 1.5px solid #64734dff;
  border-radius: 8px;
}

input.new-pallet-input#name {
  margin-bottom: 60px;
}

input.push {
  color: red;
  width: 1.8em;
  height: 1.8em;
}

table {
  margin-bottom: 60px;
}

td {
  padding: 6px 20px 6px 6px;
  font-size: 20px;
  font-weight: 600;
}

/* select every <input> element found inside a <td> element */
td.table-labels {
  padding-left: 70px;
}

div.new-pallet-fields#weight {
  margin-bottom: 60px;
}

input[type="submit"] {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1.2px;
  border-radius: 12px;
  color: #1e1e1eff;
  background-color: #6ea175ff;
  border: none;
  padding: 6px 8px;
}

input[type="submit"]:hover {
  background-color: #3f5c1fff; /* Green */
  color: white;
}

div.pallets {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: dense;
  grid-row-gap: 20px;
}

@media only screen and (min-width: 450px) {
  div.pallets {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 850px) {
  div.pallets {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1120px) {
  div.pallets {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  div.pallets {
    grid-template-columns: repeat(5, 1fr);
  }
}

div.pallet-box {
  background-position: center;
  background-size: 220px 220px;
  height: 210px;
  width: 210px;
  border-radius: 40px;

  /* This is needed to position elements inside the boxes properly */
  position: relative;
  font-family: 'Fira Sans', sans-serif;
}

div.red-timescale {
  border: 10px solid firebrick;
}

div.green-timescale {
  border: 10px solid forestgreen;
}

div.amber-timescale {
  border: 10px solid goldenrod;
}

div.lightweight {
  background-image: url("./src/images/436L_net_green.svg");
  background-color: #dcffd3ff;
}

div.middleweight {
  background-image: url("./src/images/436L_net_amber.svg");
  background-color: #fff7d3ff;
}

div.heavyweight {
  background-image: url("./src/images/436L_net_red.svg");
  background-color: #ffd5d3ff;
}

div.pallet-name {
  white-space: nowrap;
  overflow: hidden;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  color: #4c4c4cff;
  text-align: center;
  padding-top: 10px;
}

ul.pallet-contents-displayed-in-pallet-box {
  font-size: 20px;
  font-weight: 700;
  color: #242424ff;
  list-style: none;
  position: absolute;

  width: 200px;
  white-space: nowrap;
  overflow: hidden;

  left: -30px;
  top: 45px;
}

button.delete-pallet {
  font-family: 'Righteous', cursive;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 1.2px;
  border-radius: 12px;
  color: #1e1e1eff;
  background-color: #b0b17aff;
  border: none;
  padding: 5px 8px;
  position: absolute;
  bottom: 11px;
  left: 11px;
}

button.delete-pallet:hover {
  background-color: tomato;
  color: white;
}

div.pallet-weight {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #242424ff;
}

div.pallet-weight::after {
  font-weight: bold;
  content: " lbs";
}

img.hazmat-icon {
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

form.new-storage-area-form {
  color: #523b1cff;
  display: flex;
  justify-content: space-between;
}

/* ///////Note: there is a lot of overlap here with the new pallet form/////// */
/* ///////the fonts, font colors, and font sizes need to have a common criteria /////// */
label.new-storage-area-fields {
  font-size: 25px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 18px;
  color: #4d220dff;
}

input.new-storage-area-input {
  width: 200px;
  height: 25px;
  border: 1.5px solid #4d220dff;
  border-radius: 8px;
}
